<div class="day-forecast">
  <span>{{@forecast.date}}</span>
  <span>{{@forecast.tempMinValue}}°F - {{@forecast.tempMaxValue}}°F</span>
  <span>Day - {{@forecast.dayIconPhrase}}</span>
  <img alt="{{@forecast.dayIconPhrase}}" src="/assets/images/weather-icons/{{@forecast.dayIcon}}.svg" />
  <span>Night - {{@forecast.nightIconPhrase}}</span>
  <img alt="{{@forecast.nightIconPhrase}}" src="/assets/images/weather-icons/{{@forecast.nightIcon}}.svg"/>
</div>